<!-- Closing tag for the bootstrap container -->
</div>
</body>

<footer >
        <div class="row">
          <div class="col-12 col-md">
            <small class="text-muted">&copy; キャンプ三井 Corporation 2019</small>
          </div>
        </div>
      </footer>
</html>