html, body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body, footer {
    background: #11998e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
}

textarea{
    resize: vertical;
}

footer{
    margin-top: 3em;
    padding: 1em;
    text-align: center;
}

#navbarIcon {
    margin: 0;
    padding-top: 8px;
}

#special {
    color: black;
    margin: 0;
}

#collapsedButton {
    border: none;
    background-color: white;
}

.navbar {
    background: transparent;
    border: none;
    box-shadow: none;
}

#bs-example-navbar-collapse-1 {
    background: transparent;
    border: none;
    box-shadow: none;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-campground-form {
    display: inline;
}

#delete-comment-form {
    display: inline;
}

#delete-comment-button {
    background: none!important;
    border: none;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    border-radius: 0.3em;
    width: 100%;
}

#more-info-button {
    margin: 0.5em;
}

#indexJumbo {
    background: #9fffc781;
    box-shadow: 5px 5px 20px #00000027;
}

#signedIn {
    color: #9fffc781;
    padding-top: 1.5em;
    transition: color 1s ease;
}

#signedIn:hover {
    color: white;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 0.5em;
}

.well {
    border-radius: 0.5em 1em;
}

#dollar {
    margin: 0;
    padding: 0;
    text-align: center;
}

.creatNewHeader, .editCommentForm, .editCampground {
    text-align: center;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.041);
    margin-bottom: 1em;
    padding-bottom: 1em;
}


.description {
    white-space: pre-line;
}

#comment{
    border-top: 0.5px solid;
    border-color: rgba(0, 0, 0, 0.158);
    padding-top: 2em;
    padding-bottom: 1em;
    margin-top: 1em;
}

#commentText{
    padding-top: 1em;
}

#editRemoveComment{
    padding-top: 1em;
}